@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: "Radio Canada Big", sans-serif;
}

.nav-item a{
  color: #66CBC1;
  align-items: center;
}
.breadsrum{
  background: #66CBC1;
  padding: 3rem 0;
}
ul{
  margin-top: 1rem;
}
ul li a{
  padding:0 1rem ;
}
.title h3{
  color: #1C2C66;
}
.img img{
  width: 50%;
}
@media screen and (max-width:767px) {
  .right-menu,.left-menu{
    text-align: center;
  }
  ul li a{
    padding:0 5px ;
    font-size: 13px;
  }
}